*{
    margin: 0;
    padding: 0;
    
}
body{
    width: 100%;
    padding: 2% 6%;
    height: 100vh;  
    overflow-x: hidden;
    background-color: black;
}
#home_page{
    width: 100%;
    height: 99%; 
    display: flex;
    flex-wrap: wrap;
    position: relative;
    
}
#div1{
    width: 20%;
}
#div2{
    width: 80%;
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: end;
   
    
}

#div2 div {
    margin-left: 1em;
    display: flex;  
    margin-top: 0;
    margin-bottom: 0;
    
}

#div2 h3{
   margin: 0;
   display: inline-block;
   font-size: 1.4em;
   color: white;
}

#div2 i{
    margin-left: .3em;
    color: gold;
}

#div3{
    width: 20%;
    padding-top: 4%;
    
}
#home_page .nav-item{
    color: white;   
}
#collapsible ul{
    display: flex;
    flex-direction: column;
}

.container-fluid,#home_page a.nav-link{
    padding-right: 0;
    padding-left: 0;
    color:inherit;
}
#home_page a.nav-link.active_page{
    color: gold;
}
#home_page .nav-item:hover{
    color: blue;
    font-weight: 700;
}
#home_page .nav-item .active_page:hover{
    color: gold;
    font-weight: 400;
}
#div4{
    width: 75%;
    margin-left: 5%;
}

#div4 > div:nth-child(1){
    width: 100%;
    background-color: azure;
    position: relative;
    border-radius: 35px;    
}
#div4 div img{
    width: 100%;
}
#div4 > div:nth-child(1) div{
    position: absolute;
    height: 100%;
    width: 35%;
    z-index: 1;
    display: flex;
    align-items: center;
}
#div4 > div:nth-child(1) div form{
    display: flex;
    flex-direction: column;
    width: 100%;
    
    
}

#div4 form h2{
    text-align: center;
    margin-bottom: 1em;
    color: gold;
}
input{
    padding-left: 5%;
    padding-bottom: 2px;
    margin-bottom: 1em;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid black;
}
input:nth-of-type(1){
    width: 75%;
}
input:nth-of-type(2){
    width: 85%;
}
input:nth-of-type(3){
    width: 95%;
}
p{
    text-align: center;
    margin-top: 1em;
}
button[type="submit"]{    
    border-radius: 10px;
    padding: 5px 10px;
    color: white;
    background-color: gold;
    font-weight: 600;
    border: none;
    
}
input:focus{    
    outline: none;
}



#div5{
    width: 20%;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    bottom: 5%;
}
#div5 i{
    margin-bottom: .3em;
    color: white;
}

footer h4{
    font-size: 1em;
    margin: 0;
    color:gainsboro;
}
footer span{
    color: white;
}





@media only screen and (max-width:767px){

    .navbar-toggler{
        color: white;
        font-weight: 600;
    }
    body{
        height: unset;
    }
    #home_page{
        width: 100%;
        margin-right: 6%;
        margin-right: 0;
    }
    #div2{
        order: 4;       
    }
    #div3{
        width: 80%;
        padding-top: 0;
        display: flex;
        align-items: center;
        
    }
    nav{
        width: 100%;
        text-align: end;
        position: relative;       
        height: 0em;
        
        
    }
    .navbar-toggler{
        position: absolute;
        right: 0;
        top: 0;
        transition: none;
        padding: 0;
        border: none;
        
    }
    .nav-item{
        z-index: 1;
    }
    .navbar-toggler:focus{
        box-shadow: none;
        outline: none;
    }
    .container-fluid{
        margin-top: 1em;
        
    }
    
    #div4{
        margin-top: 4em;
        width: 100%;
        margin-left: 0%;
    }
    
    
    
    
    
    
    
    #div5{
        position: relative;
        width: 100%;
        flex-direction: row;
        left: unset;
        bottom: unset;
        order: 5;
    }
    #div5 i{
        margin-right: 1em;
    }
    #div2{
        margin-top: 4em;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        align-content: flex-start;
        width: 100%;
        
    }
    #div2 div{
        margin-left: 0;
        margin-bottom: .5em;
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        
    }
    #div2 div h3{
        order: 2;
        font-size: 1.1em;
                 
    }
    #div2 i{
        margin-left: 0;
        order: 1;   
        margin-right: .5em;
    }
    footer{
        margin-top: 3em;
    }
}

@media only screen and (max-width:600px){
    #div4{
        width: 100%;
        margin-left: 0%;
    }

    #div4 > div:nth-child(1){
        width: 100%;
        background-color: transparent;
        position: relative;
        border-radius: 0px;    
    }
    #div4 div img{
        width: 100%;
        display: none;
    }
    #div4 > div:nth-child(1) div{
        position: relative;
        height: 100%;
        width: 100%;
        z-index: 1;
        display: flex;
        align-items: center;
    }
    #div4 > div:nth-child(1) div form{
        display: flex;
        flex-direction: column;
        width: 100%;


    }

    #div4 form h2{
        text-align: left;
        margin-bottom: 1em;
        color: gold;
    }
    input{
        padding-left: 0%;
        padding-bottom: 2px;
        margin-bottom: 1.5em;
        background-color: transparent;
        border: none;
        border-bottom: 2px solid gainsboro;
        color: white;
    }
    input::placeholder{
        color: white;
    }
    input:nth-of-type(1){
        width: 75%;
    }
    input:nth-of-type(2){
        width: 85%;
    }
    input:nth-of-type(3){
        width: 95%;
    }
    p{
        text-align: left;
        margin-top: 1em;
    }
    button[type="submit"]{    
        border-radius: 10px;
        padding: 5px 10px;
        color: white;
        background-color: gold;
        font-weight: 600;
        border: none;

    }
    input:focus{    
        outline: none;
    }
}